* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: #333333;
    color: #cdd6f4;
}

window#waybar.fullscreen {
    background: #ff0000;
}

#waybar.solo #window {
    background: yellow;
    color: red;
  }


window#waybar.solo {
    color: #00ff62;
    background: #ff0000;
    opacity: 0.2;
}

window#waybar.empty {
    opacity: 0.2;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 7px;
    color: #313244;
    color: #a6adc8;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 6px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 6px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 6px;
}

#custom-logo,
#custom-notification,
#window,
#taskbar,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#tray,
#backlight {
    background: #1e1e2e;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 3px 0px;
    border: 1px solid #181825;
}

#custom-logo {
    border-radius: 6px;
    margin-left: 6px;
}

#custom-notification {
    border-radius: 6px;
    margin-right: 6px;
    padding: 0;
    padding-left: 6px;

}
#pulseaudio:hover,
#pulseaudio.microphone:hover,
#tray:hover,
#custom-notification:hover,
#custom-logo:hover {
    background: #484848;
    color: #cdd6f4;
}

#backlight {
    border-radius: 6px 0px 0px 6px;
}

#tray {
    border-radius: 6px;
    margin-right: 10px;
}

#workspaces {
    border-radius: 6px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 0px;
}

#taskbar {
    border-radius: 6px;
    padding-right: 0px;
    padding-left: 0px;
    background: none;
    border: unset;
}

#taskbar button:hover {
    border-radius: 6px;
    background: #1e1e2e;
}

#taskbar button.active {
    border-radius: 6px;
    background: #1e1e2e;
    border: 1px solid #181825;
}

#window {
    border-radius: 6px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #fab387;
    border-radius: 6px;
    margin-right: 6px;
}

#network {
    color: #f9e2af;
    border-radius: 6px 0px 0px 6px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #89b4fa;
    border-radius: 0px 6px 6px 0px;
    margin-right: 10px
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 6px 6px 0px;
    margin-right: 10px;
}

#battery {
    color: #a6e3a1;
    border-radius: 6px;
    margin-right: 10px;
    border-left: 0px;
}
