@import './colors.css';

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    animation: unset;
}

window#waybar {
    /* background: @background; */
    background: rgba(29, 29, 29, 0.5);
    color: @text;
}

window#waybar.fullscreen {
    background: #ff0000;
}

#waybar.solo #window {
    background: yellow;
    color: red;
}

window#waybar.solo {
    color: #00ff62;
    background: #ff0000;
    opacity: 0.2;
}

window#waybar.empty {
    opacity: 0.2;
}

tooltip {
    border: unset;
    border-radius: unset;
    background: @tooltip_background;
}


/* 
** ALL MODULES
*/
.module {
    margin: 0 0px;
    padding: 0 5px;
}

.module:hover {
    background: #545454;
}


/* 
** WORKSPACES
*/

#workspaces {
    padding: unset;
}

#workspaces:hover {
    background: unset;
}

#workspaces button {
    color: @text;
    border-radius: unset;
    border: unset;
    animation: unset;
}

#workspaces button.focused {}

#workspaces button.urgent {}

#workspaces button:hover {
    background: #545454;
    border: unset;
}

#workspaces button.active {
    border-bottom: 3px solid #3b8ffc;
}

/* 
** TASKBAR: list of programs
*/

#taskbar {
    background: none;
}

#taskbar button {

    border: unset;
    border-radius: unset;
    animation: unset;
}

#taskbar button:hover {
    background: #545454;
    border: unset;
}

#taskbar button.active {
    border-bottom: 3px solid #3b8ffc;
}


/*
** START MENU
*/

#custom-logo {
    padding: 0 10px;
}


/* 
** TRAY
*/

#tray {}

#tay>*:hover {
    background: #545454;
}

#custom-notification {}


/* 
** OTHER MODULES
*/

#clock {
    font-size: 16px;
    margin-left: 10px;
}

#backlight {}

#network {}

#bluetooth {}

#pulseaudio {}

#pulseaudio.microphone {}

#battery {}

#pulseaudio:hover,
#pulseaudio.microphone:hover,
#tray:hover,
#custom-notification:hover,
#custom-logo:hover {}